@import "~photoswipe";

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    > a {
        line-height: 0;
        @include transition(opacity 0.2s linear);

        &:hover, &:focus {
            opacity: 0.85;
        }
    }

    > img {
        @include transition(opacity 0.2s linear);

        &:hover, &:focus {
            opacity: 0.85;
        }
    }

    img {
        margin: 5px;
    }
}
